.main-text{
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homepage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}